@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex items-center justify-center gap-2 px-4 py-1.5 cursor-pointer font-semibold rounded-lg shadow-md transition-colors duration-100;
  }

  .btn.btn-light {
    @apply text-gray-800 bg-white hover:bg-gray-100;
  }

  .btn.btn-success {
    @apply bg-gradient-to-b from-[#2e7d32] to-[#1b5e20] text-white hover:!from-[#1b5e20] hover:!to-[#114e17];
  }

  .btn.btn-danger {
    @apply bg-gradient-to-b from-[#f52f32] to-[#e11b1e] text-white hover:!from-[#e11b1e] hover:!to-[#c2181a];
  }

  .btn.btn-option {
    @apply bg-gradient-to-b from-[#3a78d0] to-[#277cea] text-white hover:!from-[#277cea] hover:!to-[#1a5bb8];
  }

  .btn.btn-warning {
    @apply bg-gradient-to-b from-[#ec8104] to-[#d97706] text-white hover:!from-[#d97706] hover:!to-[#b45309];
  }

  .btn.btn-primary {
    @apply bg-[#d70018] text-white hover:!bg-[#d70018de];
  }

  .btn.btn-outline {
    @apply border border-[#d70018] text-[#d70018] bg-white hover:bg-[#d70018] hover:text-white;
  }

  .shadow-all {
    box-shadow:
      0 -1px 4px rgba(0, 0, 0, 0.000001),
      0 4px 12px rgba(0, 0, 0, 0.000001),
      -3px 0 6px rgba(0, 0, 0, 0.08),
      3px 0 6px rgba(0, 0, 0, 0.08);
  }

  .bg-gradient-to-r-from-primary {
    @apply bg-gradient-to-b from-[#F83E60] to-[#FE5048] bg-cover;
  }

  .bg-gradient-gold {
    @apply bg-gradient-to-br from-[#FE881C] via-[#FDCE1C] to-[#FE881C] bg-cover;
  }

  .bg-gradient-romantic {
    @apply bg-gradient-to-br from-[#ED4C5E] via-[#FECDA5] to-[#ED4C5E] bg-cover;
  }

  .bg-gradient-magic {
    @apply bg-gradient-to-br from-[#A690D1] via-[#FAC1EA] to-[#A690D1] bg-cover;
  }

  .bg-gradient-luxury {
    @apply bg-gradient-to-br from-[#435D76] via-[#D4D4D5] to-[#435D76] bg-cover;
  }

  .bg-gradient-luxury {
    @apply bg-gradient-to-br from-[#EBFDFD] via-[#52F1D5] to-[#EBFDFD] bg-cover;
  }

  .bg-gradient-luxury-1 {
    @apply bg-gradient-to-br from-[#63E5DF] via-[#8A64EB] to-[#63E5DF] bg-cover;
  }

  .bg-gradient-luxury-2 {
    @apply bg-gradient-to-br from-indigo-500 via-violet-500 to-teal-400;
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  }
}

:root {
  --color-primary: #d70018;
}
